*{
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width:700px){


.x-top{
    z-index: 1;
    width:100%;
    height: 80px;
 background:rgb(255, 254, 254);
 position: fixed;
 top: 0px;
}
.cvdiv{
    display:flex;border-bottom:1px solid rgb(71, 71, 133);
}
.cvdiv p{
    font-family: sans-serif;font-size: 80px;color:rgb(71, 71, 133);
margin-left: 20px;padding-bottom: 10px;
}
.titletxtpip p{
    color:rgb(71, 71, 133);font-size: 35px; padding-top:30px;font-family: sans-serif;
}
#menuicon{
    display: none;
}
.firstprof{
    width: 97%;
    margin: auto;
    height: 400px;
    background:white;
    border-radius:4px;
    margin-top: 100px;
    display: flex;
}

.work{
    width: 97%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    margin-bottom: 70px;
    border-radius:4px;
    margin-top: 70px;
    flex-direction: column;
   
}

.ably{
    width: 97%;
    margin: auto;
    height: 530px;
    background: #eee;
    border-radius:4px;
    margin-top: 70px; 
}
.myname{
    font-family: freestyle script regular;
    color: black;
    font-size:40px;
    width: 300px;
    position: absolute;
    margin: 15px;
}
#tagtop1{
    font-family:sans-serif ;
    color: black;
    font-size:20px;
    float: right;
    padding-right: 35px;
    height: 100%;
    line-height: 80px;
    margin-right: 10px;
}
#tagtop1:hover{
    color:rgb(71, 71, 133) ;
    cursor: pointer;
    text-decoration: underline;
}
.proimg{
    height:400px;
    width: 400px;
}
.fir1{
    font-size: 80px;font-family: sans-serif;color:rgb(71, 71, 133)
}
.fir2{
    font-size: 30px;font-family: sans-serif;color:rgb(17, 17, 17) ;
}
.firsttxt{
    margin-left: 200px;
    margin-top: 80px;
}
.card{
    width: 250px;
    height: 380px;
    background: #f5f5f5;
    margin: 40px;
    border: 1px solid rgb(221, 219, 219);
    border-radius: 7px;
}
.titcode{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.titcode p{
    color: black;
    font-size:20px;
    font-family: sans-serif;
}
.txtcode div p{
font-family: sans-serif;
color: rgb(49, 48, 48);

}
.cvimg{
  margin-left:20px ;
    margin-top: 30px;
width:600px;
box-shadow: 1px 1px 5px 7px gray;

}
.morecvbtn{
    width: 200px;
    height: 50px;
    border: 2px solid rgb(71, 71, 133);
    text-align: center;
 margin-left: 630px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
}


.morecvbtn:hover{
    background:rgb(71, 71, 133);
    cursor: pointer;

}

.morecvbtn:hover p{
    color: white;
}

.morecvbtn p{
    color:  black;
    margin-top:13px ;
    font-family: sans-serif;
    font-size: 20px ;
}

.imagesslider{
    display: flex;width:430px;
 margin-left: 35%;background: white;padding:10px;padding-left: 0px; 
  padding-right:0px ;
}
#arowout{
    font-size: 30px;
    color: black;
    padding: 10px;
    margin-top: 100px;
margin-left: 10px !important;
    display: none;
    width: 50px !important;
    background: white;
    box-shadow: 1px 1px 4px 5px gray;
   


}
#arowout:hover{
    background: rgb(71, 71, 133);
    box-shadow: 1px 1px 4px 5px rgb(71, 71, 133);
    color: white;
    cursor: pointer;
}
#cvbox{
    display: none;
    margin: auto;
    
    margin:auto;
    margin-top: 20px;
}
#cvbox img{
    margin-left: 100px;
}
.cards{
    justify-content: space-around;display: flex;
}
}
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/

@media screen and (max-width:700px){
   

}
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
@media screen and (max-width:360px){
    .x-top{
        z-index: 1 !important;
        width:360px !important;
        height: 80px;
     background:rgb(255, 254, 254);
     position: fixed !important;

     top: 0px !important;
    
    }
    #menuicon{
        display: block !important;
        
        position: absolute;
        right: 15px;
        top: 25px;
        font-size: 30px;
    }
    

    #dropdown{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(71, 71, 133) ;
        width: 360px !important;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        z-index: 1 !important;
        transition: 0.2s;
        left: -400px;
    }
    #dropdown p{
        line-height: 50px;
        padding-left: 10px !important;
        color: rgb(223, 218, 218);
        border-bottom: 1px solid rgb(145, 141, 141);
     
    }
  
    .firstprof{
        width: 360px;
      margin-left: 0px !important;
        background:white !important;
height: 620px !important;
        padding-bottom: 20px;
        margin-top: 80px !important;
        margin-bottom: 130px !important;
        display: flex;
        flex-direction: column;
    }
    
    .work{
        width: 360px !important;
        margin: auto;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
        margin-bottom: 70px;
      
        margin-top: 25px !important;
        flex-direction: column;
       
    }
    
    .ably{
        width: 360px !important;
        flex-direction: column;
        padding-bottom: 40px !important;
        background: #eee;
        
        margin-left: 0px !important;

        
    }
    .cards{
        justify-content: space-around;display: flex;
        flex-direction: column;width: 100%;
    }
    .titletxtpip p{
        color:rgb(71, 71, 133);font-size: 35px; padding-top:20px;font-family: sans-serif;
        
    }
    .myname{
        font-family: freestyle script regular;
        color: black;
        font-size:40px !important;
       margin-top: 17px !important;
       margin-left: 10px;
    }
    #tagtop1{
        font-family:sans-serif ;
        color: black;
        font-size:20px;
        float: right;
        padding-right: 35px;
        height: 100%;
        line-height: 80px;
        margin-right: 10px;
    }
    #tagtop1:hover{
        color:rgb(71, 71, 133) ;
        cursor: pointer;
        text-decoration: underline;
    }
    .proimg{
        
        width: 360px !important;
    }
    .fir1{
        font-size: 80px;margin-bottom: 10px;margin-left: 10px;font-family: sans-serif;color:rgb(71, 71, 133)
    }
    .fir2{
        font-size: 30px;margin-bottom: 20px;margin-left: 10px;font-family: sans-serif;color:rgb(17, 17, 17) ;
    }
    .firsttxt{
        margin-left: 0px !important;
        margin-top: 0px !important ;
        display: flex;
        background:white;
        width: 360px !important;
        flex-direction: column;
    }
    .cvdiv{
        display:flex;border-bottom:1px solid rgb(71, 71, 133);
    }
    .cvdiv p{
        font-family: sans-serif;font-size: 40px;color:rgb(71, 71, 133);
    margin-left: 10px;padding-bottom: 10px;
    }
    .card{
        width: 250px;
        height: 380px;
        background: #f5f5f5;
        margin: 40px;
        margin-bottom: -20px !important;
        border: 1px solid rgb(221, 219, 219);
        border-radius: 7px;
    }
    .titcode{
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .titcode p{
        color: black;
        font-size:20px;
        font-family: sans-serif;
    }
    .txtcode div p{
    font-family: sans-serif;
    color: rgb(49, 48, 48);
    
    }
    .cvimg{
      margin-left:30px !important ;
        margin-top: 30px;
    width:300px !important;
    box-shadow: 1px 1px 5px 7px gray;
    
    }
    .morecvbtn{
        width: 200px;
        height: 50px;
        border: 2px solid rgb(71, 71, 133);
        text-align: center;

        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    
    
    .morecvbtn:hover{
        background:rgb(71, 71, 133);
        cursor: pointer;
    
    }
    
    .morecvbtn:hover p{
        color: white;
    }
    
    .morecvbtn p{
        color:  black;
        margin-top:13px ;
        font-family: sans-serif;
        font-size: 20px ;
    }
    
    .imagesslider{
        display: flex;width:360px !important;
    margin-left: 0px !important;background: white !important;padding:10px;padding-left: 0px; 
      padding-right:0px ;
    }
    #arowout{
        font-size: 30px;
        color: black;
        padding: 10px;
        margin-top: 100px;
    margin-left: 10px !important;
        display: none;
        width: 50px !important;
        background: white;
        box-shadow: 1px 1px 4px 5px gray;
       
    
    
    }
    #arowout:hover{
        background: rgb(71, 71, 133);
        box-shadow: 1px 1px 4px 5px rgb(71, 71, 133);
        color: white;
        cursor: pointer;
    }
    #cvbox{
        display: none;
        margin: auto;
        
        margin:auto;
        margin-top: 20px;
    }
    #cvbox img{
        margin-left: 20px;
    }
}    
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
@media screen and (max-width:411px){
    .x-top{
        z-index: 1;
        width:100%;
        height: 80px;
     background:rgb(255, 254, 254);
     position: fixed;
     top: 0px;
    }
    #menuicon{
        display: none;
    }
    .firstprof{
        width: 97%;
        margin: auto;
        height: 400px;
        background:white;
        border-radius:4px;
        margin-top: 100px;
        display: flex;
    }
    
    .work{
        width: 97%;
        margin: auto;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
        margin-bottom: 70px;
        border-radius:4px;
        margin-top: 70px;
        flex-direction: column;
       
    }
    
    .ably{
        width: 500px;
        flex-direction: column;
        padding-bottom: 20px;
        background: #eee;
        border-radius:4px;
margin-left: 6%;
        margin-top: 70px; 
    }
    .cards{
        justify-content: space-around;display: flex;
        flex-direction: column;width: 100%;
    }
    .myname{
        font-family: freestyle script regular;
        color: black;
        font-size:40px;
        margin: 10px;
    }
    #tagtop1{
        font-family:sans-serif ;
        color: black;
        font-size:20px;
        float: right;
        padding-right: 35px;
        height: 100%;
        line-height: 80px;
        margin-right: 10px;
    }
    #tagtop1:hover{
        color:rgb(71, 71, 133) ;
        cursor: pointer;
        text-decoration: underline;
    }
    .proimg{
        height:400px;
        width: 400px;
    }
    .fir1{
        font-size: 80px;font-family: sans-serif;color:rgb(71, 71, 133)
    }
    .fir2{
        font-size: 30px;font-family: sans-serif;color:rgb(17, 17, 17) ;
    }
    .firsttxt{
        margin-left: 200px;
        margin-top: 80px;
    }
    .card{
        width: 250px;
        height: 380px;
        background: #f5f5f5;
        margin: 40px;
        border: 1px solid rgb(221, 219, 219);
        border-radius: 7px;
    }
    .titcode{
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .titcode p{
        color: black;
        font-size:20px;
        font-family: sans-serif;
    }
    .txtcode div p{
    font-family: sans-serif;
    color: rgb(49, 48, 48);
    
    }
    .cvimg{
      margin-left:20px ;
        margin-top: 30px;
    width:200px;
    box-shadow: 1px 1px 5px 7px gray;
    
    }
    .morecvbtn{
        width: 200px;
        height: 50px;
        border: 2px solid rgb(71, 71, 133);
        text-align: center;
     margin-left: 630px;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    
    
    .morecvbtn:hover{
        background:rgb(71, 71, 133);
        cursor: pointer;
    
    }
    
    .morecvbtn:hover p{
        color: white;
    }
    
    .morecvbtn p{
        color:  black;
        margin-top:13px ;
        font-family: sans-serif;
        font-size: 20px ;
    }
    
    .imagesslider{
        display: flex;width:430px;
     margin-left: 35%;background: white;padding:10px;padding-left: 0px; 
      padding-right:0px ;
    }
    #arowout{
        font-size: 30px;
        color: black;
        padding: 10px;
        margin-top: 100px;
    margin-left: 10px !important;
        display: none;
        width: 50px !important;
        background: white;
        box-shadow: 1px 1px 4px 5px gray;
       
    
    
    }
    #arowout:hover{
        background: rgb(71, 71, 133);
        box-shadow: 1px 1px 4px 5px rgb(71, 71, 133);
        color: white;
        cursor: pointer;
    }
    #cvbox{
        display: none;
        margin: auto;
        
        margin:auto;
        margin-top: 20px;
    }
    #cvbox img{
        margin-left: 20px;
    }
}
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
@media screen and (max-width:320px){
    .x-top{
        z-index: 1;
        width:100%;
        height: 80px;
     background:rgb(255, 254, 254);
     position: fixed;
     top: 0px;
    }
    #menuicon{
        display: none;
    }
    .firstprof{
        width: 97%;
        margin: auto;
        height: 400px;
        background:white;
        border-radius:4px;
        margin-top: 100px;
        display: flex;
    }
    
    .work{
        width: 97%;
        margin: auto;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
        margin-bottom: 70px;
        border-radius:4px;
        margin-top: 70px;
        flex-direction: column;
       
    }
    
    .ably{
        width: 500px;
        flex-direction: column;
        padding-bottom: 20px;
        background: #eee;
        border-radius:4px;
margin-left: 6%;
        margin-top: 70px; 
    }
    .cards{
        justify-content: space-around;display: flex;
        flex-direction: column;width: 100%;
    }
    .myname{
        font-family: freestyle script regular;
        color: black;
        font-size:40px;
        margin: 10px;
    }
    #tagtop1{
        font-family:sans-serif ;
        color: black;
        font-size:20px;
        float: right;
        padding-right: 35px;
        height: 100%;
        line-height: 80px;
        margin-right: 10px;
    }
    #tagtop1:hover{
        color:rgb(71, 71, 133) ;
        cursor: pointer;
        text-decoration: underline;
    }
    .proimg{
        height:400px;
        width: 400px;
    }
    .fir1{
        font-size: 80px;font-family: sans-serif;color:rgb(71, 71, 133)
    }
    .fir2{
        font-size: 30px;font-family: sans-serif;color:rgb(17, 17, 17) ;
    }
    .firsttxt{
        margin-left: 200px;
        margin-top: 80px;
    }
    .card{
        width: 250px;
        height: 380px;
        background: #f5f5f5;
        margin: 40px;
        border: 1px solid rgb(221, 219, 219);
        border-radius: 7px;
    }
    .titcode{
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .titcode p{
        color: black;
        font-size:20px;
        font-family: sans-serif;
    }
    .txtcode div p{
    font-family: sans-serif;
    color: rgb(49, 48, 48);
    
    }
    .cvimg{
      margin-left:20px ;
        margin-top: 30px;
    width:200px;
    box-shadow: 1px 1px 5px 7px gray;
    
    }
    .morecvbtn{
        width: 200px;
        height: 50px;
        border: 2px solid rgb(71, 71, 133);
        text-align: center;
     margin-left: 630px;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    
    
    .morecvbtn:hover{
        background:rgb(71, 71, 133);
        cursor: pointer;
    
    }
    
    .morecvbtn:hover p{
        color: white;
    }
    
    .morecvbtn p{
        color:  black;
        margin-top:13px ;
        font-family: sans-serif;
        font-size: 20px ;
    }
    
    .imagesslider{
        display: flex;width:430px;
     margin-left: 35%;background: white;padding:10px;padding-left: 0px; 
      padding-right:0px ;
    }
    #arowout{
        font-size: 30px;
        color: black;
        padding: 10px;
        margin-top: 100px;
    margin-left: 10px !important;
        display: none;
        width: 50px !important;
        background: white;
        box-shadow: 1px 1px 4px 5px gray;
       
    
    
    }
    #arowout:hover{
        background: rgb(71, 71, 133);
        box-shadow: 1px 1px 4px 5px rgb(71, 71, 133);
        color: white;
        cursor: pointer;
    }
    #cvbox{
        display: none;
        margin: auto;
        
        margin:auto;
        margin-top: 20px;
    }
    #cvbox img{
        margin-left: 20px;
    }
}
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
@media screen and (max-width:375px){
    .x-top{
        z-index: 1;
        width:100%;
        height: 80px;
     background:rgb(255, 254, 254);
     position: fixed;
     top: 0px;
    }
    #menuicon{
        display: none;
    }
    .firstprof{
        width: 97%;
        margin: auto;
        height: 400px;
        background:white;
        border-radius:4px;
        margin-top: 100px;
        display: flex;
    }
    
    .work{
        width: 97%;
        margin: auto;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
        margin-bottom: 70px;
        border-radius:4px;
        margin-top: 70px;
        flex-direction: column;
       
    }
    
    .ably{
        width: 500px;
        flex-direction: column;
        padding-bottom: 20px;
        background: #eee;
        border-radius:4px;
margin-left: 6%;
        margin-top: 70px; 
    }
    .cards{
        justify-content: space-around;display: flex;
        flex-direction: column;width: 100%;
    }
    .myname{
        font-family: freestyle script regular;
        color: black;
        font-size:40px;
        margin: 10px;
    }
    #tagtop1{
        font-family:sans-serif ;
        color: black;
        font-size:20px;
        float: right;
        padding-right: 35px;
        height: 100%;
        line-height: 80px;
        margin-right: 10px;
    }
    #tagtop1:hover{
        color:rgb(71, 71, 133) ;
        cursor: pointer;
        text-decoration: underline;
    }
    .proimg{
        height:400px;
        width: 400px;
    }
    .fir1{
        font-size: 80px;font-family: sans-serif;color:rgb(71, 71, 133)
    }
    .fir2{
        font-size: 30px;font-family: sans-serif;color:rgb(17, 17, 17) ;
    }
    .firsttxt{
        margin-left: 200px;
        margin-top: 80px;
    }
    .card{
        width: 250px;
        height: 380px;
        background: #f5f5f5;
        margin: 40px;
        border: 1px solid rgb(221, 219, 219);
        border-radius: 7px;
    }
    .titcode{
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .titcode p{
        color: black;
        font-size:20px;
        font-family: sans-serif;
    }
    .txtcode div p{
    font-family: sans-serif;
    color: rgb(49, 48, 48);
    
    }
    .cvimg{
      margin-left:20px ;
        margin-top: 30px;
    width:200px;
    box-shadow: 1px 1px 5px 7px gray;
    
    }
    .morecvbtn{
        width: 200px;
        height: 50px;
        border: 2px solid rgb(71, 71, 133);
        text-align: center;
     margin-left: 630px;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    
    
    .morecvbtn:hover{
        background:rgb(71, 71, 133);
        cursor: pointer;
    
    }
    
    .morecvbtn:hover p{
        color: white;
    }
    
    .morecvbtn p{
        color:  black;
        margin-top:13px ;
        font-family: sans-serif;
        font-size: 20px ;
    }
    
    .imagesslider{
        display: flex;width:430px;
     margin-left: 35%;background: white;padding:10px;padding-left: 0px; 
      padding-right:0px ;
    }
    #arowout{
        font-size: 30px;
        color: black;
        padding: 10px;
        margin-top: 100px;
    margin-left: 10px !important;
        display: none;
        width: 50px !important;
        background: white;
        box-shadow: 1px 1px 4px 5px gray;
       
    
    
    }
    #arowout:hover{
        background: rgb(71, 71, 133);
        box-shadow: 1px 1px 4px 5px rgb(71, 71, 133);
        color: white;
        cursor: pointer;
    }
    #cvbox{
        display: none;
        margin: auto;
        
        margin:auto;
        margin-top: 20px;
    }
    #cvbox img{
        margin-left: 20px;
    }

}
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
/*phone divices*//*phone divices*//*phone divices*/
@media screen and (max-width:414px){
    .x-top{
        z-index: 1;
        width:100%;
        height: 80px;
     background:rgb(255, 254, 254);
     position: fixed;
     top: 0px;
    }
    #menuicon{
        display: none;
    }
    .firstprof{
        width: 97%;
        margin: auto;
        height: 400px;
        background:white;
        border-radius:4px;
        margin-top: 100px;
        display: flex;
    }
    
    .work{
        width: 97%;
        margin: auto;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        background: white;
        margin-bottom: 70px;
        border-radius:4px;
        margin-top: 70px;
        flex-direction: column;
       
    }
    
    .ably{
        width: 500px;
        flex-direction: column;
        padding-bottom: 20px;
        background: #eee;
        border-radius:4px;
margin-left: 6%;
        margin-top: 70px; 
    }
    .cards{
        justify-content: space-around;display: flex;
        flex-direction: column;width: 100%;
    }
    .myname{
        font-family: freestyle script regular;
        color: black;
        font-size:40px;
        margin: 10px;
    }
    #tagtop1{
        font-family:sans-serif ;
        color: black;
        font-size:20px;
        float: right;
        padding-right: 35px;
        height: 100%;
        line-height: 80px;
        margin-right: 10px;
    }
    #tagtop1:hover{
        color:rgb(71, 71, 133) ;
        cursor: pointer;
        text-decoration: underline;
    }
    .proimg{
        height:400px;
        width: 400px;
    }
    .fir1{
        font-size: 80px;font-family: sans-serif;color:rgb(71, 71, 133)
    }
    .fir2{
        font-size: 30px;font-family: sans-serif;color:rgb(17, 17, 17) ;
    }
    .firsttxt{
        margin-left: 200px;
        margin-top: 80px;
    }
    .card{
        width: 250px;
        height: 380px;
        background: #f5f5f5;
        margin: 40px;
        border: 1px solid rgb(221, 219, 219);
        border-radius: 7px;
    }
    .titcode{
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .titcode p{
        color: black;
        font-size:20px;
        font-family: sans-serif;
    }
    .txtcode div p{
    font-family: sans-serif;
    color: rgb(49, 48, 48);
    
    }
    .cvimg{
      margin-left:20px ;
        margin-top: 30px;
    width:200px;
    box-shadow: 1px 1px 5px 7px gray;
    
    }
    .morecvbtn{
        width: 200px;
        height: 50px;
        border: 2px solid rgb(71, 71, 133);
        text-align: center;
     margin-left: 630px;
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    
    
    .morecvbtn:hover{
        background:rgb(71, 71, 133);
        cursor: pointer;
    
    }
    
    .morecvbtn:hover p{
        color: white;
    }
    
    .morecvbtn p{
        color:  black;
        margin-top:13px ;
        font-family: sans-serif;
        font-size: 20px ;
    }
    
    .imagesslider{
        display: flex;width:430px;
     margin-left: 35%;background: white;padding:10px;padding-left: 0px; 
      padding-right:0px ;
    }
    #arowout{
        font-size: 30px;
        color: black;
        padding: 10px;
        margin-top: 100px;
    margin-left: 10px !important;
        display: none;
        width: 50px !important;
        background: white;
        box-shadow: 1px 1px 4px 5px gray;
       
    
    
    }
    #arowout:hover{
        background: rgb(71, 71, 133);
        box-shadow: 1px 1px 4px 5px rgb(71, 71, 133);
        color: white;
        cursor: pointer;
    }
    #cvbox{
        display: none;
        margin: auto;
        
        margin:auto;
        margin-top: 20px;
    }
    #cvbox img{
        margin-left: 20px;
    }
}